/*  (#0065FC), une version plus
claire de ce bleu (#DEEBFF) et le gris pour le fond (#F2F2F2). */

body {
    font-family: 'Raleway', sans-serif;
}

.bold {
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-logo {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-logo img{
    height: 50px;
   
}

.navbar-menu {
    display: flex;
    line-height: 50px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 30px;
    padding-left: 0;
}

.navbar a {
    text-decoration: none;
    color: #202020;
    padding: 20px 0;
    box-sizing:content-box;
}



.navbar a:hover,
.navbar a:focus,
.navbar a:active
{
    color: #0065FC;
    border-top: 10px solid #0065FC;
    padding-top: 10px;
}


@media screen and (max-width: 768px) { 
    .navbar {
            flex-direction: column;
            align-items: center;
            padding: 15px 0 0 0;
        }

    .navbar-menu {
        margin-right: 0;
        width: 100%;
    }

    .nav-links {
        justify-content: space-around;
        width: 100%;
        gap: 0px;

    }

    .nav-links > a {
        width:50%;
        text-align: center;
        min-width: min-content;
    }

    .navbar a {
        padding-top: 0;
        padding-bottom: 10px;
        border-bottom: 8px solid #F2F2F2;
    }

    .navbar a:hover,
    .navbar a:focus,
    .navbar a:active
    {
        color: #0065FC;
        border-top: 0;
        padding-top: 0;
        border-bottom: 8px solid #0065FC;
        padding-bottom: 10px;
    }
    
}





/*____________________Search Bar____________________*/

.place-input {
    height: 48px;
    font-weight: 700;
    line-height: 50px;
    border: 1px solid #F2F2F2;
    padding: 0 0 0 20px;
}

.place-input:focus {
    outline: none;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.btn-recherche {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1vmax;
    border-bottom-right-radius: 1vmax;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 10px;
    height: 30px;
    box-sizing: content-box;
    border: none;
}

.btn-recherche-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    
    .btn-recherche {
            display: none;
    }

    .btn-recherche-mobile {
        display: block;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1vmax;
        border-bottom-right-radius: 1vmax;
        background-color: #0065FC;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding: 10px;
        height: 30px;
        width: 30px;
        box-sizing: content-box;
        border: none;
    }
}

i.fas.fa-map-marker-alt {
    /* position: relative;
    left: 4px; */
    background-color: #F2F2F2;
    line-height: 50px;
    width: 50px;
    text-align: center;
    border-top-left-radius: 1vmax;
    border-bottom-left-radius: 1vmax;

}

/*____________________Filters____________________*/

.filter-container {
    display: flex;
    flex-direction: row;
}

.icons-wrapper li {
    list-style: none;
    /* border: 1px solid #F2F2F2; */
    border: 2px solid #d9d9d9;
    border-radius: 100vmax;
    padding: 0 8px;
    flex: 0 0 auto;
}

.filters {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    gap: 15px;
    padding: 0;
}

.filter-container p {
    margin: auto 30px auto 0;
}

/* Icônes filtres */

.filter-icons {
    background-color: #deebff;
    color: #0065fc;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    left: -10px;
}

i.fa.fa-child {
    width: 16px;
}

i.fa.fa-info {
    color: #0065FC;
    width: 16px;
    height: 16px;
    padding: 5px;
    margin: 10px 15px 10px 0;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    text-align: center;
}

.filter-info {
    display: flex;
}

/* Icônes filtres responsive */

@media screen and (max-width: 992px) {
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}






/*____________________Section N°2____________________*/

.section-two {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: space-between;
}

.rentals-cards h3, .rentals-cards p, .populars-card h3, .populars-card p{
    margin: 0;
}

.rentals h2 {
    margin-left: 3%;
}

.rentals {
    min-width: 100px;
    max-width: 880px;
    background-color: #F2F2F2;
    border-radius: 0.7vmax;
    height: auto;
    padding: 0 10px;
}

.populars {
    background-color: #F2F2F2;
    border-radius: 0.7vmax;
    min-height: 625px;
    min-width: 200px;
    flex: 1 1 30%;
    padding: 0 10px;
}

.rentals-read-more {
    max-width: 800px;
    margin: 0 auto;
}

.rentals-card-wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: space-evenly;
    gap: 5px;
}

.rentals-cards {
    width: 250px;
    height: 200px;
    background-color: #FFF;
    padding: 7px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
}

.rentals-cards-image {
    height: 66%;
    position: relative;
    overflow: hidden;
}

.rentals-cards-image img {
    width: 100%;
    position: absolute;
}

.populars-card-container {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    height: 80%;
    align-items: center;
    justify-content: center;
}


.populars-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 350px;
    margin: 0 auto;
}

i.fa.fa-star {
    align-self: center;
}

.populars-card {
    width: 100%;
    max-width: 350px;
    height: 30%;
    max-height: 200px;
    background-color: #FFF;
    /* border-radius: 1vmax; */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 8px;
    box-sizing: border-box;
    gap: 5%;
}

.populars-cards-image {
    height: 100%;
    width: 40%;
    position: relative;
    overflow: hidden;
}

.populars-cards-image img {
    height: 100%;
    object-fit: cover;
}

.populars-cards-pricing {
    margin-bottom: 75%;
}


@media screen and (max-width: 768px) {
    .section-two {
        flex-flow: column-reverse nowrap;
    }

    .rentals-cards {
        width: 100%;
        max-width: 665px;
        height: 400px;
    }


    .populars-card-container {
        height: 1158px;
        justify-content: space-evenly;
    }

    .populars-card {
        height: 100%;
        max-height: 290px;
        width: 100%;
        max-width: 655px;
    }

    .populars h2 {
        margin-top: 93px;
        margin-bottom: 0px;
    }
}

/*____________________Section N°3____________________*/
.activities-card-container {
    display: flex;
    flex-flow: row wrap;
    outline: 1px solid firebrick;
    padding: 0 15px;
    gap: 15px;
}

.activities-card-small-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    max-width: 315px;
    height: 460px;
    gap: 15px;
}

.activities-card-large {
    flex: 1;
    max-width: 315px;
    height: 460px;
    outline: 1px solid orange;
}

.activities-card {
    flex: 1;
    outline: 1px solid coral;
}

.activities-card-small-container:nth-child(1) {
    background-color: red;
}

@media screen and (max-width: 768px) {
    .activities-card-container {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        height: 2400px;
        padding: 0 15px;
    }

    .activities-card-large {
        flex: 0 0 auto;
        height: 380px;
        width: 100%;
        max-width: 665px;
    }

    .activities-card-small-container {
        flex: 1;
        /* max-height: 380px; */
        width: 100%;
        max-width: 665px;
    }

    .activities-card {
        flex: 1 1 100%;
        max-height: 380px;
    }
}

/*____________________Footer____________________*/

.footer-background {
    background-color: #F2F2F2;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.footer-wrapper ul {
    list-style: none;
    padding: 0;
}

.footer-wrapper li {
    margin: 20px 0;
}

.footer-wrapper ul a {
    text-decoration: none;
    color: #202020;
}
